.App {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.score {
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.choices-tab {
  width: 800px;
  display: flex;
  justify-content: space-between;
}
